@model PagedList.IPagedList<Models.ViewModels.AllOrderModels>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Share.cshtml";
}

<table class="table" style="margin-left:20px">
    <thead>
        <tr>
            <th>  <h2 class="header__main"><span class="breadcrumb"><i class="fa fa-credit-card"></i> </span><span class="title">Tất cả đơn hàng</span></h2></th>
            <th>

                <a class="btn btn-default" href="javascript:void(0)" bind-event-click="showExportOrders()">Xuất danh sách đơn hàng</a>
                <a class="btn btn-primary" href="/Admin/Order/create">Thêm mới</a>

            </th>

        </tr>
    </thead>

</table>
<div style="margin-left:45px">
    @using (Html.BeginForm())
    {
        <p>
            Tìm sản phẩm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </p>
    }
</div>
<table class="table table-hover" style="margin-left:0px">
    <tr>
        <th>
            <input id="Checkbox1" type="checkbox" />
        </th>
        <th>
            <h5><b>@Html.ActionLink("Đơn hàng", "Index", new { sortOrder = ViewBag.NameSortParm })</b></h5>
        </th>
        <th>
            <h5><b>@Html.ActionLink("Ngày tạo", "Index", new { sortOrder = ViewBag.DateSortParm })</b></h5>
        </th>
        <th>
            <h5><b>Khách hàng</b></h5>
        </th>
        <th>
            <h5><b>Trạng thái thanh toán</b></h5>
        </th>
        <th>
            <h5><b>Trạng thái giao hàng</b></h5>
        </th>
    
        <th>
            <h5><b>Tổng tiền</b></h5>
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="select">
                <input type="checkbox" value="313248" name="ids" bind-event-change="addOrRemoveBulkActionItem(313248,this)" id="bulk-action-313248" class="bulk-action-item">
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StringPayment)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StringShipping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
          
           
        </tr>
    }

</table>

<br />
<div class="col-md-offset-10 col-md-10">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>