@model PagedList.IPagedList<Models.ViewModels.AllCustomersModels>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Share.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>  <h2 class="header__main"><span class="breadcrumb"><i class="fa fa-credit-card"></i> </span><span class="title">Danh sách khách hàng</span></h2></th>
            <th>

                <a class="btn btn-default" href="javascript:void(0)" bind-event-click="showExportOrders()">Xuất danh sách khách hàng</a>
                <a class="btn btn-primary" href="/Admin/Customer/create">Thêm khách hàng</a>

            </th>

        </tr>
    </thead>

</table>
<div class="container-fluid-md">
    <div class="panel panel-default has-bulk-actions">
        <div class="filter-container">
<div style="margin-left:45px">
    <ul class="nav navbar-nav navbar-nav-expanded pull-left margin-md-right">
        <li class="hidden-xs">
            <form class="navbar-form">
                <div class="navbar-search">
                    @*<input type="text" placeholder="Search &hellip;" class="form-control">*@
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { placeholder = "Tìm kiếm...", @class = "form-control" })
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </li>
    </ul>
</div>
<table class="table table-hover" style="margin-left:0px">
    <tr>
        <th>
            <h5><b>@Html.ActionLink("Họ tên", "Index", new { sortOrder = ViewBag.NameSortParm })</b></h5>
        </th>
        <th>
            <h5><b>Email</b></h5>
        </th>

        <th>
            <h5><b>Số lượng đơn hàng</b></h5>
        </th>
        <th>
            <h5><b>Đơn hàng gần nhất</b></h5>
        </th>
        <th>
            <h5><b>Tổng chi tiêu</b></h5>
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "EditName", new { id=item.Id})
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOrder)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem=>item.OrderRecently)*@

                @Html.ActionLink(item.OrderRecently, "ViewOrderDetails", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>

        </tr>
    }

</table>
<br />
<div class="col-md-offset-10 col-md-2">
    @*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
</div>
</div>
</div>